header button {
    margin-right: 7px;
    text-transform: capitalize;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 14px;
    border: 1px solid #000000;
    cursor: pointer;
}

header .active {
    background-color: pink;
    color: #fff;
}

header {
    padding: 15px 0;
    background-color: #E6E6E6;
    border-bottom: 1px solid #DCDCDC;
}

